# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2025 Univention GmbH

services:
  test-helm:
    image: "gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.29.0"
    pull_policy: "if_not_present"
    command: "pytest tests/helm_unit/"
    profiles:
      - "test"
    volumes:
      - "./helm/:/app/helm/"
      - "./tests/helm_unit/:/app/tests/helm_unit/"

  directory-importer:
    build:
      context: .
      dockerfile: docker/directory-importer/Dockerfile
      target: final
    image: artifacts.software-univention.de/nubus-dev/images/directory-importer:${IMAGE_TAG:-latest}
    read_only: true
    user: "app:app"
    cap_drop:
      - ALL
    volumes:
      - ./config/ad-domain-config.yaml:/etc/directory-importer/config.yaml:ro
      #- ./config/ca_nubus.crt:/etc/ssl/certs/ca-certificates-nubus.crt:ro
      #- ./config/ca_ad.crt:/etc/ssl/certs/ca-certificates-ad.crt:ro
    environment:
      LOG_LEVEL: "INFO"
      REPEAT: true
      REPEAT_DELAY: 300
      CONFIG_FILENAME: "/etc/directory-importer/config.yaml"
    network_mode: host
