#-----------------------------------------------------------------------
# Triggers one-shot service unit at specified time interval
#-----------------------------------------------------------------------

[Unit]
Description=Timer for udm-directory-connector@ad-domain-example.service

[Timer]
Unit=udm-directory-connector@ad-domain-example.service
OnBootSec=60
OnUnitInactiveSec=60
RandomizedDelaySec=6.0
AccuracySec=12.0

[Install]
WantedBy=timers.target
